extends layout

block content
  h1= "Tangle Stateless Explorer"

  <form method="POST" action="/address">

  <input type="text" name="address" value="" placeholder="Ingrese una address o hash"/>

  <input type="submit" value="buscar"/>

  </form>


  <hr/>
